
.vercel
node_modules

# env files (nunca deben subirse — contienen API keys/secretos)
.env*

# next.js build output (no debe versionarse)
/.next/
/out/

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
